[2018-02-21 13:44] eshepelyuk opened #1 "Fetch diagrams during build time store them locally"
There should be a possibility to get rid of _runtime dependency_ on `PlantUML server`.
The running `PlantUML Server` should be required only during build of HTML from Asciidoctor files.

To implement this following is required

* [x] fetch diagram images from `PlantUML server` and store to local folder
* [x] generate HTML `image` tags with `src` pointing to local files instead of `PlantUML server`

[2018-02-23 22:06] #1 closed

[2018-02-28 08:46] eshepelyuk opened #2 "Properly store generated PlantUML images directly in Antora content folder instead of output directory."
This is a placeholder for [antora#189](https://gitlab.com/antora/antora/issues/189)

[2018-03-18 13:31] Mogztter opened #3 "Add a linter"
I think it's important to add a linter so we can focus on the code (not on the style).

[2018-03-18 13:35] Mogztter opened #5 "Create a browser compatible version"
We can use https://webpack.js.org/ to create a browser compatible version of this library.
As you said, `plantuml-encoder` is browser compatible so we just need to extract all the Node specific code into a dedicated file.

[2018-03-18 13:39] Mogztter opened #6 "Use a "standard" structure for the project"
I think we should use a "standard" structure for the project. It will make it easier to configure tools in the JavaScript ecosystem.

Something like:

[code]

[2018-03-18 13:42] eshepelyuk commented on #6
Is there any _reliable guide_ for `standard` project structure in JS ?
I saw many project using `lib` as src directory and `index.js` as an entry point and this is a little weird

[2018-03-18 13:43] #3 closed

[2018-03-18 13:56] Mogztter commented on #6
I'm not sure but there are a few conventions:

* `/dist` - contains compiled and minified versions of the library (contains generated files, so this directory should not be versioned)
* `/examples` - contains examples :wink:
* `lib` or `src` - contains the source code (i tend to prefer `src`)
* `/test` or `spec` - contains tests

Indeed you can also use an `index.js` at the root of the project and

[2018-03-18 14:06] Mogztter commented on #6
Not really we could make it work anyway but I think it's will be easier to configure and to understand if we have this "common" structure in place.

We could or we could also consider that this file is a configuration file and let it at the root of the project. There's not right answer here.
The important part is to have a dedicated directory for:
* the source code
* the generated code (compiled,

[2018-03-18 14:36] eshepelyuk commented on #6
1. plz proceed with option from original post
1. keep current name of entrypoint (i.e. do not use `index.js`)
1. put jasmine helper into `spec` folder

[2018-03-18 15:53] Mogztter opened #9 "Publish the dist directory on release"
We should only publish the `dist` directory when doing a release.
I think Travis should perform the release and publish the package to the npmjs registry (this is what we are doing in Asciidoctor.js).

Related to #5 and #8

[2018-03-18 16:37] eshepelyuk commented on #9
@Mogztter would you be so kind to help on this ?
Currently the release process is completely manual. I'm just calling

     $ npm publish

Is any automation required to publish just `dist` folder ? Are you going to provide scripts that will populate that fodler with proper files ?

[2018-03-18 16:46] Mogztter commented on #9
@eshepelyuk Sure I will 😃
The idea is to trigger a release when a tag is pushed. Travis will do the build, run the tests, generate the `dist` directory and then publish the release on the npmjs registry (using `npm publish`).

[2018-03-18 16:48] eshepelyuk commented on #9
Ok, it means that I can trigger release from GitHub directly (via creating GitHub release, that its creating a tag), right ?

[2018-03-19 05:50] mojavelinux opened #10 "Extension should not emit raw HTML"
An Asciidoctor syntax extension should not emit raw HTML. Instead, it should return an AST node, which will get converted to HTML automatically by the converter. This does mean giving up some control over the HTML that is created, but it also means that the extension can be used to produce other formats, such as DocBook.

(If you want to customize the HTML, then that should be handled using a sepa

[2018-03-19 05:54] mojavelinux commented on #10
The resulting HTML is going to look like this:

[code]

How important is the data-pumlid? Can that just be an id attribute?

[2018-03-19 05:55] mojavelinux commented on #10
I don't think the message for a misconfigured server should end up in the generated document. Instead, it should just echo back the listing block to the AST and emit a warning to the console. Eventually, this warning will go to the Asciidoctor logger, once one exists....or you can add your own logger in the extension.

[2018-03-19 05:59] mojavelinux opened #12 "Switch to StandardJS style"
The most generally accepted coding style for JavaScript right now is [StandardJS](https://standardjs.com/). I recommend adopting it for this project.

I've been using it on Antora for almost 6 months and I find that it fits like a glove. Most notably, it drops the use of semi-colons, which are just a waste of space in JavaScript.

StandardJS integrates with eslint. See Antora for the configuration

[2018-03-19 06:00] mojavelinux commented on #10
In general, we should try to match what Asciidoctor Diagram does for plantuml as much as possible so documents that have plantuml blocks are portable.

[2018-03-19 06:02] mojavelinux commented on #10
The first positional attribute should not be the ID. The ID already has a place in the block name.

[code]

The first positional attribute can be an explicit name for the generated file, like Asciidoctor Diagram does.

[code]

(In Asciidoctor Diagram, the second positional attribute is the diagram format, such as svg or png).

[2018-03-19 06:06] mojavelinux commented on #2
Information is now available in https://gitlab.com/antora/antora/issues/189.

As I understand it, the chrome extension also needs to work with an in-memory file system. Perhaps the Chrome extension can provide a stub that mimics the context object in Antora so it can receive the generated diagram as a buffer as well. @Mogztter does that look feasible to you?

[2018-03-19 19:24] #12 closed

[2018-03-19 19:47] eshepelyuk commented on #10
You may remove `data-pumlid`

[2018-03-20 05:43] #10 closed

[2018-03-22 05:55] #5 closed

[2018-03-22 05:55] #6 closed

[2018-03-23 20:22] #9 closed

[2018-03-23 20:26] Mogztter commented on #9
\o/

[2018-03-23 21:01] eshepelyuk opened #14 "Support for SVG generation"
PlantUML server support SVG generation. The format must be configured in [plantuml] block using 2nd positional parameter, as [asciidoctor-diagram](https://asciidoctor.org/docs/asciidoctor-diagram/#creating-a-diagram) does.

Tests should be improved to check that saved file is really `PNG` or `SVG`

[2018-03-24 03:19] eshepelyuk opened #15 "Support target positional attribute"
When positional attribute is present, use it for image name and `alt` population as in `ascidoctor-diagram`

[2018-03-24 09:22] mojavelinux opened #16 "Add support for ditaa and dot diagrams"
In addition to its native format, PlantUML can also process ditaa and dot (graphviz) diagrams. Add support for these blocks.

This is actually a two-part issue. In addition to supporting ditaa and dot, the `@start` and `@end` directives should be optional, inferred by the block style (like in Asciidoctor Diagram).

In other words, it should be possible to define a ditaa diagram using a ditaa block

[2018-03-24 09:27] mojavelinux commented on #16
Here's how the block would be registered:

[code]

Here's how the directives can be detected and added if necessary:

[code]

(You could make the regexp even more specific)

[2018-03-24 09:33] eshepelyuk commented on #16
@mojavelinux one note, the extension name becomes ambigous on introducing those changes :(

[2018-03-24 09:46] mojavelinux commented on #16
Actually I don't think so. PlantUML has assimilated these other tools and
seems committed to this consolidation, so I think this still all falls
under the umbrella of PlantUML as the engine.

On Mar 24, 2018 03:33, "Evgeny Shepelyuk" <notifications@github.com> wrote:

[2018-03-25 06:24] mojavelinux commented on #15
I think this has been implemented. Am I correct?

[2018-03-25 06:26] mojavelinux opened #20 "Register extension on literal block in addition to listing block"
To be consistent / compatible with Asciidoctor Diagram, this extension should be registered on literal blocks in addition to listing blocks. In fact, the literal block is actually the recommended block for diagrams. A listing is primarily intended to exhibit source code. A literal block is meant to be shown in a literal way...in this case we interpret "literal" as meaning a visual diagram.

[code]

[2018-03-25 06:29] eshepelyuk commented on #15
Yes, it is.

[2018-03-25 06:37] #15 closed

[2018-03-25 07:06] mojavelinux opened #22 "Change asciidoctor.js to a peer or dev dependency"
An extension should not declare a direct dependency on the asciidoctor.js package. Doing so prevents the user from being able to choose which specific version of Asciidoctor to use (and could even result in multiple versions of Asciidoctor on the load path). Instead, the extension should list asciidoctor.js as either a peer dependency or a dev dependency.

If we just want to assume that the user k

[2018-03-25 08:29] #20 closed

[2018-03-25 20:35] mojavelinux commented on #22
What I'm saying in this case is that an extension should not have a transitive dependency on core. It's not the responsibility of an extension to require that core is present. The extension is an add-on and it implies you are adding it on to something you have.

This would be the same problem in any packaging ecosystem. If an extension has a direct dependency on core, then it's going to create a c

[2018-03-30 04:42] eshepelyuk opened #25 "Fetched image path regression"
Placeholder for #23

[2018-03-30 04:42] #25 closed

[2018-03-30 13:43] eshepelyuk opened #26 "Automate creation of release changelog"
- [ ] Adjust `.travis.yml` to install [this tool](https://github.com/spyder-ide/loghub/) via Python PIP
- [ ] Adjust post deploy step to update release body after release creation via GitHub API

[2018-04-08 13:31] #26 closed

[2018-04-14 04:56] #14 closed

[2018-07-10 17:08] metametadata opened #29 "Add support for included files (node.js)"
This is a feature request following an advice from
https://github.com/asciidoctor/asciidoctor-browser-extension/issues/79#issuecomment-403891225

In the end it'd cool to be able to render PlantUML diagrams in `Asciidoc Browser Extension` from external files, e.g.:

[code]

[2018-09-17 11:00] stephenc commented on #2
See #30 for the hackiest of hacky hacks to try and get this to work!

[2018-10-21 20:04] stephenc commented on #2
@mojavelinux any progress?

[2018-11-08 03:40] Skilly opened #32 "Does asciidoctor.js support graphviz diagrams?"
I'm able to use asciidoctor.js in Chrome to successfully view asciidoctor documents containing plantuml diagrams, however Graphviz diagrams are not rendered. Are Graphviz diagrams currently supported, or are there plans to support them in asciidoctor.js?

(I'm running on Windows, have the Graphviz msi installed and have the GRAPHVIZ_DOT environment variable set.)

[2018-11-08 03:50] eshepelyuk commented on #32
There's opened issue #16 addressing this.

[2018-11-09 19:26] eshepelyuk opened #33 "Compatibility with Asciidoctor.js 1.5.7"

[2018-11-09 19:30] #33 closed

[2018-11-09 19:49] Mogztter commented on #16
@mojavelinux @eshepelyuk is the PlantUML server already able to render  ditaa and graphviz (dot) diagrams ?

[2018-11-09 19:59] eshepelyuk commented on #16
@Mogztter [yes](http://plantuml.com/ditaa)

[2018-11-09 20:05] Mogztter commented on #16
Oh that's great, I can work on this feature if you want 😎

[2018-11-09 20:06] #32 closed

[2018-11-09 20:10] eshepelyuk commented on #2
@stephenc honestly, I'll be unable to handle the issue myself and I can't merge your PR since it doesn't pass the tests.

I'm not ready just to create a solution without any additional tests and ensuring that all other platforms are not broken.

Definately help from @Mogztter and @mojavelinux is required to close this. Or maybe there're other volunteers interested to pick this up and provide compl

[2018-11-09 20:12] eshepelyuk commented on #16
I'd be the gladest person if you will :)

[2018-11-09 21:33] eshepelyuk opened #34 "fake issue to test release process"

[2018-11-09 21:33] #34 closed

[2018-11-09 21:39] stephenc commented on #2
I’m java not ecmascript... I don’t have the active practice to take this any further. Hopefully Dan Allen will pick it up

[2018-11-09 21:44] eshepelyuk commented on #29
The most confusing for me is how to make this work in `Antora` ?

I suppose processing of `include` should be different depending on the env

- browser
- nodejs
- antora

 @Mogztter maybe it's easier to fake the functionality in browser extension by reading content and injection it into a document before passing to `asciidoctor-plantuml` ?

[2018-11-09 21:46] eshepelyuk commented on #2
Well, I'm JVM guy too :)

[2018-11-10 02:17] mojavelinux commented on #16
I'd be pretty darn glad too! :beers:

[2018-11-10 02:20] mojavelinux commented on #16
I have an outdated prototype I had started if you need a reference.

See https://github.com/mojavelinux/asciidoctor-plantuml.js/commit/2207f4ac93176c60228e23ac7754a20e8438e90b

It probably needs some work, but I figured I'd share just in case.

[2018-11-21 21:30] #16 closed

[2018-12-11 17:51] JGrenier opened #38 "Implement substitutions support inside plantuml block"
The attributes substitution doesn't work .

here is an example :

[code]
in the resulting diagram {bloc-annotation} has not been replaced.

May be a missing preprocessor call ?

[2018-12-11 20:52] eshepelyuk commented on #38
It's not implemented at all as far as I understand. @mojavelinux @Mogztter could you confirm that such functionality should be explicitely implemented in this extension ?

[2018-12-11 21:09] mojavelinux commented on #38
The responsibility to honor the subs falls on the extension. This gives the extension the most flexibility of what to do with the lines of text.

[2018-12-11 21:47] Mogztter commented on #38
And if I'm not mistaken, we should use `AbstractBlock#applySubstitutions` if we want to apply subs.

https://github.com/asciidoctor/asciidoctor.js/blob/07288833d54bcd99690f68945f30cdd6cf43e1b3/src/asciidoctor-core-api.js#L271-L273

[2018-12-11 21:55] mojavelinux commented on #38
Yes, though that method requires computing the subs. There's a method on the node named resolve_subs that can do this (and take in all the incremental subs into effect).

However, we might end up introducing a method which is a bit more high level.

[2018-12-17 14:19] Mogztter opened #41 "Tests should not use the size of the file since this information is unreliable"
Currently the tests fail intermittently depending on the environment. We should not use the size of the file in the tests suite.

Maybe a md5sum of the file will be more reliable ?

[2018-12-17 21:58] #38 closed

[2018-12-18 08:50] Mogztter commented on #2
So the extension should use a Virtual File System instead instead of using `writeFileSync`.
My idea is to pass the VFS as an argument when the extension is registered:

[code]

In Antora the registration will be:

[code]

Interestingly #29 could also be solved with the introduction of a VFS:

[code]

If the "context" or the Virtual File System is undefined, we could fallback to `writeFileSync` (to

[2018-12-18 10:35] Mogztter opened #43 "The extension should use readContents to fetch the remote images"
The main advantage is that Asciidoctor.js is aware of the JavaScript environment and will use XMLHttpRequest in a browser environment.
Potentially it will make the "fetch diagram" feature available in a browser environment.
Though we will still need to provide a VFS or to embed the image in the HTML document.

`AbstractNode.read_contents` method:

https://github.com/asciidoctor/asciidoctor/blob/dd

[2018-12-18 10:38] Mogztter opened #44 "The extension should support data-uri"
When `data-uri` is enabled the images will be embed in the HTML document:
https://asciidoctor.org/docs/asciidoc-syntax-quick-reference/#images

[2018-12-19 01:40] mojavelinux commented on #2
I like the idea, though I wonder if we should build off the idea in isomorphic-git. See https://isomorphic-git.org/docs/en/plugin_fs.

[2018-12-19 11:45] Mogztter commented on #2
@mojavelinux We could but the FS plugin in Isomorphic Git is async. It's not an issue with the `add` function since you could in theory add the image asynchronously but the `get` (or `readFile` in the FS plugin terminology) must be sync in our context.

[2018-12-21 18:01] Mogztter commented on #43
Should be fixed in: https://github.com/asciidoctor/asciidoctor.js/pull/634
I will add a test.

[2018-12-21 18:09] Mogztter opened #45 "The basename of the generated file should be reproductible"
I think the basename of the generated file should be reproductible.
Maybe we could use the last part of the URL ? For instance the diagram generated from the URL: http://www.plantuml.com/plantuml/svg/SoWkIImgAStDuN8lpSp9IIpDJLNGjLDmBKjFpQlaSaZDIm7A0G00 will produce a file named `SoWkIImgAStDuN8lpSp9IIpDJLNGjLDmBKjFpQlaSaZDIm7A0G00.svg` ?

[2018-12-23 07:21] eshepelyuk commented on #45
What about some sort of URL hash ?

[2018-12-28 08:11] eshepelyuk commented on #2
I have to reopen this issue, since I believe the implementation in #42 doesn't resolve issue's initial goal.

The intention of this issue is to be kept open until there will be out-of-the-box solution for plugin to store images into `Antora` content folder, without hacking `:imagesoutdir:` (as I do now) or creating yet another extension to adapt to `Antora` ( as in  eshepelyuk/asciidoctor-plantuml

[2018-12-28 18:00] Mogztter commented on #43
There's a few issues that need to be fixed in Opal in order to read binary data (with the Asciidoctor method `read_contents`):

https://github.com/opal/opal/pull/1920
https://github.com/opal/opal/pull/1919

[2018-12-29 22:10] elia commented on #43
@Mogztter both the PRs are merged 👍 🚀

[2018-12-30 00:58] Mogztter commented on #43
Yay thanks Elia 😃

[2019-01-01 18:04] Mogztter commented on #41
I think I finally understand why the file size (and thus the md5sum) change over time in: https://github.com/eshepelyuk/asciidoctor-plantuml.js/pull/46

[2019-01-02 08:03] #41 closed

[2019-01-02 12:10] stephenc commented on #45
For what it's worth: https://github.com/eshepelyuk/asciidoctor-plantuml.js/pull/30 already had the feature that the file name would be based on the hash of the diagram content: https://github.com/eshepelyuk/asciidoctor-plantuml.js/pull/30/files#r238612166

[2019-01-02 18:43] Mogztter commented on #45
@stephenc Thanks for the heads up.

I've created several issues based on your initial work to improve the integration with Antora.

It might be a good idea to use the `crypto` library to remove a dependency but we will still something in the browser. To be consistent we may still want to use the same library... But maybe Webpack can provide a shim for the browser ?

Apart from that the implementat

[2019-01-03 18:21] Mogztter opened #49 "Support Mermaid diagram and flowchart"
https://github.com/knsv/mermaid

[2019-01-03 18:34] Mogztter commented on #49
There's at least two issues to integrate Mermaid in this extension using the API:

1. The [`Mermaid#render`](https://github.com/knsv/mermaid/blob/7d3578b31aeea3bc9bbc618dcda57d82574eaffb/src/mermaidAPI.js#L334) function is using a callback but we need to return a result synchronously
2. Mermaid is using the DOM (and d3) to generate an SVG. For instance:

https://github.com/knsv/mermaid/blob/7d3578

[2019-01-03 20:22] #45 closed

[2019-01-04 08:12] eshepelyuk commented on #49
Hello @Mogztter

This issue raises two options in my mind for it's implementation

- Either create a new extension (eg asciidoctor-mermaid.js )
- or rename this extension to `asciidoctor-diagram.js`

Since as far as I understand `Mermaid` has nothing to do neither with PlantUML nor PlantUML Server.
So I believe before implementing `Mermaid` support - some decision about extension(s) future must be

[2019-01-08 14:11] Mogztter commented on #43
According to Dan, `AbstractNode.read_contents` and `AbstractNode.read_asset` were designed to read text file (encoded in utf-8).
In our case we want to read remote images so I think we should use our own function.

[2019-02-24 01:38] mojavelinux commented on #43
@Mogztter I'm happy to revisit those upstream methods, perhaps introduce a new one. I'm just establishing what the assumption is currently.

[2019-02-24 01:52] mojavelinux opened #52 "Extension should consume lines from the block reader"
The extension is not consuming the lines from the block reader. Instead, it's working on a copy. As a result, the lines still get parsed as non-literal content after the extension code runs (even though those parsed lines never make their way to the AST).

This problem can be observed by processing a document with the following block:

[code]

After the extension processes the block, the core proc

[2019-02-24 01:54] mojavelinux commented on #52
@Mogztter In the Asciidoctor.js API, we need to make it clear that `getString()` returns the remaining lines on the reader as a string without consuming those lines. We should also make it clear that `read()` consumes the remaining lines and returns the result as a string.

(The reason for both styles is because sometimes you want to see what is there without consuming. But ultimately, a block sho

[2019-02-24 01:58] mojavelinux commented on #52
Here's a minimal example of that obscure parsing bug.

[code]

Nonetheless, the core processor should never even be seeing these lines.

[2019-02-24 09:45] Mogztter commented on #52
It's mapped on `master` (unreleased):

https://github.com/asciidoctor/asciidoctor.js/blob/d0e226ae4030a083e4e641d77bb875ec0c999a95/src/asciidoctor-core-api.js#L1871-L1873

Indeed we should clarify the documentation. I think we should state that:
* `get*` methods return a copy and do not consume the lines
* `read*` methods consume the lines

https://github.com/asciidoctor/asciidoctor.js/issues/675

[2019-02-24 09:46] mojavelinux commented on #52
Exactly. Thanks for the insight!

[2019-03-17 19:23] #2 closed

[2019-03-19 07:14] eshepelyuk commented on #52
@mojavelinux @Mogztter I'm interested in implementing this, but not sure if it's possible to create a test for the feature.
May you suggest ?

[2019-03-19 07:28] mojavelinux commented on #52
I'd simply use the example in the description. If that renders without warning, then it works. You can check the logger to see if a warning was issued.

[2019-03-19 07:31] eshepelyuk commented on #52
@mojavelinux I'd be appreciated for an example of how to check Asciidoctor logger, but if you don't have any - I'll try to figure it out myself.

[2019-03-19 07:35] mojavelinux commented on #52
@Mogztter has written a whole chapter on it here https://asciidoctor-docs.netlify.com/asciidoctor.js/processor/logging-api/

[2019-03-19 17:52] eshepelyuk opened #53 "Add support for included files (browser)"
Followup to #29

[2019-03-19 20:12] eshepelyuk commented on #29
test

[2019-03-19 20:12] eshepelyuk commented on #29
qwe

[2019-03-19 20:20] #29 closed

[2019-03-22 21:34] anoff opened #54 "image.contents are of type string - needs to be Buffer, Stream, null"
Running the latest example of your [asciidoctor-plantuml-antora]() example I am getting the following error.

[code]

Checking the arguments being passed to the antora adapter the `image.contents` are of type string.

[2019-03-26 13:53] #54 closed

[2019-03-26 15:41] eshepelyuk commented on #54
Fixed in https://github.com/eshepelyuk/asciidoctor-plantuml.js/releases/tag/1.1.13

[2019-04-09 09:24] hauer-io opened #56 "Can use plantuml in included adocs"
You can not use plantuml in included files, because antora fails with error:
"Duplicate image: 1.0@antora_puml:ROOT:079bd6453a30089d164645a5c69ac134ff5062a9.png"

See the issue in the example [https://github.com/hauer-io/asciidoctor-plantuml-antora](example)

[2019-04-11 03:48] hauer-io commented on #56
But you can use it in partials.

[2019-04-11 03:48] #56 closed

[2019-04-17 15:02] anoff commented on #56
I stumbled across the same issue; have you found any use case where you want to render it both as an included and standalone page @hauer-io ?

[2019-04-18 05:44] hauer-io commented on #56
We include it in multiple *adoc-Files and this works just fine.

[2019-07-31 14:01] jvmlet commented on #29
I wonder, even if this feature is  implemented, how plantuml server will treat below snippet (with inner include) ?
[code]

[2019-07-31 15:50] Mogztter commented on #29
@jvmlet Could you please open a new issue?

I don't think it's possible to include a file when using the PlantUML server (ie. the file won't be resolved). I believe it can only work when using the CLI.

[2019-08-01 06:45] jvmlet opened #58 "External uml file not found"
Running below snippet
[code]
doesn't work with antora, getting
[code]

[2019-08-01 18:30] mojavelinux commented on #29
I was thinking more about this. Why not use the AsciiDoc include directive instead of the PlantUML include directive? (as @Mogztter was suggesting). Then it will just work.

[code]

That's invalid syntax. It should be something like:

[code]

The target has to come from the Antora content catalog, which means it needs to be in either the partials or examples directory.

[2019-08-02 16:08] Mogztter commented on #29
Indeed, I didn't thought about it 😉
@jvmlet Could you confirm that the following is working:

[code]
(or `include::example$haa-overview.iuml` as mentioned by Dan)
[code]

The only downside is that it will only work in Antora.
If you are using the PlantUML CLI on `haa-overview.iuml`, the Asciidoctor include directive won't be resolved.

[2019-08-02 16:32] mojavelinux commented on #29
True, though for now you can use either an attribute reference as the prefix or a preprocessor conditional to select the include based on the environment.

[2019-08-04 11:13] jvmlet commented on #29
Just tried `include::partial$haa-overview.iuml[]` and got non-processed uml content inserted into html page as is. Am I missing  some additional asciidoctorjs settings to process uml files without plantuml extension being installed ?

[2019-08-04 12:56] Mogztter commented on #29
@jvmlet Could you share your document or at least a snippet?

[code]

`haa-overview.iuml` is in your [partials](https://docs.antora.org/antora/2.0/page/#partial) directory ?

What do you mean "without plantuml extension being installed"?

[2019-08-05 08:46] jvmlet commented on #29
Here is my layout :
![image](https://user-images.githubusercontent.com/6664858/62450922-ed315280-b775-11e9-9c98-0fdef3fece5c.png)

Content of `globals.iuml` :
[code]

In `admin-server-interactions.adoc` :
[code]
Gives me
[code]

Uml files without `!include`s are rendered as expected.

[2019-08-05 09:02] Mogztter commented on #29
You need to replace `!include ./globals.iuml` by `include::partial$globals.iuml[]`

[2019-08-05 09:19] jvmlet commented on #29
Same error

[2019-08-05 09:33] jvmlet commented on #29
Anyway, these kind of solutions  don't allow me to develop uml files with `my favorite UML editor`.
I ended up with copying all uml files under `assets/images` directory and using `image:nameOfUmlFile.png` in adoc files.
Before running Antora docker I run Plantuml docker from the root folder (docker-mounted) of all FS cloned  repositories ....

@mojavelinux ,I wish Antora be more sophisticated to

[2019-08-05 11:31] Mogztter commented on #29
Could you please paste the stack with thr `include::` directive?

[2019-08-05 17:57] mojavelinux commented on #29
@jvmlet This is not the appropriate forum to complain about Antora. And frankly, I find your remarks rather insensitive.

[2019-08-05 18:22] jvmlet commented on #29
Sorry for misunderstanding @mojavelinux, but I didn't mean to complain about Antora. I find it a great addition to Asciidoctor ecosystem. Just provided a feedback  about Antora as a user to try to  help to  make it  better software. IMHO,  the Asciidoctor with it's growing community and integration capabilities is the best in class documentation tool. Sorry again, but English is not my mother tong

[2019-08-05 18:30] jvmlet commented on #29
@Mogztter, unfortunately I don't have the stacktrace anymore, but the exception was thrown during HTTP Get when  trying to download the generated image. No exception was thrown during  posting the uml to plantuml server which I believe failed because !include was not processed properly.

[2019-08-05 18:41] Mogztter commented on #29
@jvmlet yes but the PlantUML server returns an image with the error message.
I believe that the error is not the same since `!include` is not in the source anymore (ie. replaced by the Asciidoctor include directive `include::`)

[2019-08-05 19:00] jvmlet commented on #29
Will try to recreate the case tomorrow

[2019-08-06 07:53] jvmlet commented on #29
All 3  files (`agent-server-interactions.adoc`,`agent-server-interactions.iuml`  and `globals.iuml`)  under `partials` directory.

`agent-server-interactions.adoc` :
[code]

`agent-server-interactions.iuml` :
[code]

`globals.iuml` :
[code]

Here is the full stacktrace :
[code]

[2019-08-06 08:21] jvmlet commented on #29
I've changed the antora settings like this:

[code]

The  `plantuml-fetch-diagram` is **false**, and this is the rendered image :

![image](https://user-images.githubusercontent.com/6664858/62523355-3f3cab80-b83c-11e9-917c-0b5975cfcd05.png)

[2019-08-06 08:24] Mogztter commented on #29
The include directive in `agent-server-interactions.iuml` is incorrect. You forgot to add `[]`:

[code]

[2019-08-06 09:00] jvmlet commented on #29
Sorry, I DID use `include::partial$globals.iuml[]`,  see the generated image.

[2019-08-06 09:10] Mogztter commented on #29
Could you try to add an empty line before the include directive? It appears that the include directive is not processed/ignored by Asciidoctor. I will try to reproduce this issue.

[code]

[2019-08-06 09:12] Mogztter commented on #29
The generated image and the source don't match, I don't see `group tecomService` in the source.

[2019-08-06 09:19] jvmlet commented on #29
I've trimmed the iuml, here the  full listing :

[code]

The  empty  lines don't appear in the image somehow:
![image](https://user-images.githubusercontent.com/6664858/62527726-626b5900-b844-11e9-9135-fa644f8eea8b.png)

[2019-10-09 11:56] andreas-schilling opened #59 "Adding images multiple times is not avoided when using Antora"
Currently it is not avoided that the same PlantUML rendering is added multiple times, resulting in the Antora content catalog to throw an error `duplicate file`.
This happens e.g. in the following situation: you have a page (e.g. `chapter1.adoc`) that is used individually (e.g. referenced from the main navigation) but also included as a partial somewhere else (e.g. within an `index.adoc` to provid

[2019-10-09 11:58] eshepelyuk commented on #59
Hi @andreas-schilling PR is welcomed. unfortunately don't have enough time for the project maintenance :(

[2019-10-09 12:00] andreas-schilling commented on #59
PR on the way.

[2019-10-24 19:21] #59 closed

[2019-10-24 20:25] #49 closed

[2019-10-25 10:07] akosma commented on #29
The problem is that `plantuml-encoder` (referenced by this plugin) does not support included files (using the PlantUML syntax). I'm trying to figure out a solution after forking said component.

[2019-10-25 11:43] akosma commented on #29
I have just submitted [a pull request](https://github.com/markushedvall/plantuml-encoder/pull/11) with the required code to replace `!include ....` PlantUML statements with the corresponding contents.

[2019-10-25 12:38] akosma commented on #53
I have just submitted [a pull request at `plantuml-encoder`](https://github.com/markushedvall/plantuml-encoder/pull/11) with the required code to replace `!include ....` PlantUML statements with the corresponding contents. If the author merges this in the library, this issue should be solved. WIl let you know as soon as I hear from the developer.

[2019-10-25 13:40] akosma opened #61 "Release 1.3.0 makes Antora crash"
I've updated an Antora site to use version 1.3.0 and the `antora` command fails with the following stacktrace:

[code]

The same project (Antora site with just one PlantUML diagram) works perfectly well with version 1.1.13. Haven't tested with 1.2.0.

[2019-10-25 13:50] akosma commented on #61
I've just tried to do the same with the [Antora demo site for this plugin](https://github.com/eshepelyuk/asciidoctor-plantuml-antora) and had exactly the same error.

[2019-10-26 12:54] niborb commented on #61
I also encounter the same issue unfortunately with the new update.

[2019-10-26 13:10] niborb commented on #61
Actually the problem is introduced with v1.2.0.
v1.1.13 is working fine for me.

[2019-10-28 19:44] eshepelyuk commented on #61
Already working on this. Still no clue what's going on.

[2019-10-28 21:31] eshepelyuk commented on #61
Hello,

Just released 1.3.1 and updated [demo site](https://github.com/eshepelyuk/asciidoctor-plantuml-antora)
works for me, could you try it yourself ?

[2019-10-29 07:12] akosma commented on #61
Works for me! Thanks a lot

[2019-10-29 10:51] eshepelyuk commented on #61
@niborb can you plz check ?

[2019-10-30 19:34] #61 closed

[2019-10-31 10:23] niborb opened #70 "Change request: support for ditaa SVG generation"
hi,

As mentioned in the readme, only PNG generation is supported.

I was wondering whether SVG support is something that is planned to be implemented? Or are there specific reasons SVG is not being supported.

[2019-10-31 12:59] eshepelyuk commented on #70
Hello

This restriction has nothing to do with this plugin. Instead It's a limitation of `PlantUML Server` that is used as backend for the plugin

Plz refer to the last line of `Ditaa` section http://plantuml.com/ditaa

[2019-10-31 12:59] #70 closed

[2019-11-09 11:55] Mogztter opened #71 "$apply_subs only takes two arguments"
We should remove the last argument from this line:

https://github.com/eshepelyuk/asciidoctor-plantuml.js/blob/b808c2da6e4be7bf6c77b062e088a319d75de00d/src/asciidoctor-plantuml.js#L49

`apply_subs` only takes two arguments: https://github.com/asciidoctor/asciidoctor/blame/v2.0.10/lib/asciidoctor/substitutors.rb#L75

[2019-11-09 12:10] eshepelyuk commented on #71
Hi @Mogztter
Why doesn't any test fail ? Is there a possibility to add some test for that ?

[2019-11-09 12:35] Mogztter commented on #71
As far as I know, in JavaScript, the number of arguments is not checked (even in strict mode).

So `parent.$apply_subs(diagramText, parent.$resolve_subs(subs), true)` is effectively the same as `parent.$apply_subs(diagramText, parent.$resolve_subs(subs), true)` (ie. the last parameter will be ignored).
The code definition is wrong but it will work at runtime. I've noticed this error because I was

[2019-11-09 12:37] eshepelyuk commented on #71
Hi, have no idea :((
Will remove the code a later bit today.
Do you need a new release for this ?

[2019-11-09 13:50] Mogztter commented on #71
No rush, the code is somehow working so it's not critical :wink:

[2019-11-09 14:29] #71 closed

[2019-11-15 22:15] djencks opened #72 "Allow configuring default output format, at least in Antora"
I propose introducing a asciidoc attribute plantuml-default-format to set the default output format of plantuml, in case you want it to be svg instead of png.  I only figured out how to test this with Antora.  The browser tests aren't working for me.

[2019-11-15 23:41] djencks commented on #72
I added a simpler, shared test.

[2019-11-18 08:46] #52 closed

[2019-11-18 18:16] #72 closed

[2019-11-20 14:51] akosma opened #75 "Support for Kroki"
[Kroki](https://kroki.io/) supports the same diagrams as PlantUML and more, and uses an almost identical interface as the PlantUML server: pass an encoded string in the URL, get an image back.

The difference is that Kroki supports a larger number of diagram types: BlockDiag (BlockDiag, SeqDiag, ActDiag, NwDiag), C4 (with PlantUML), Ditaa, Erd, GraphViz, Mermaid, Nomnoml, PlantUML, SvgBob and UMLe

[2019-11-20 14:56] eshepelyuk commented on #75
@akosma could you raise this issues in ?
https://gitter.im/asciidoctor/asciidoctor

long story short, personally I don't think `kroki` support should be put into this extension, instead a dedicated one should be created, maybe sharing the same code or creating monorepo project.

But I'd like to hear the opinion of @mojavelinux and @Mogztter :))

And, of course, I will be extremely happy to receive

[2019-11-20 15:14] akosma commented on #75
I've just posted the question there. Actually it makes totally sense to have a separate plugin, and it is true it would be great to "fork" this project and use it as a basis, as the basic interaction with Kroki would be extremely similar to this one. Thanks!

[2019-11-20 15:40] Mogztter commented on #75
@akosma I've already wrote an extension for Kroki: https://github.com/mogztter/asciidoctor-kroki (heavily inspired by this extension)

[2019-11-21 21:07] #75 closed

[2019-11-24 03:41] djencks opened #76 "The extension should support inline and interactive for svgs"
asciidoctor provides support for inline and interactive for svg images.  The extension can pass through the plantuml url with appropriate block attributes to hook into this.

[2019-11-24 20:47] djencks commented on #58
You need to use antora coordinates to your included file, and I believe it needs to be in the partials or examples family unless you give it an .adoc extension.  I'm pretty sure you also need to put the target and format in with [plantuml] rather than as part of the include instruction.

[2019-11-25 17:16] djencks commented on #44
Documentation might be a good idea, but AFAICT there isn't anything to do here in this plugin.  Right now, specifying data-uri globally (to override Antora's feeble attempt to disable data-uri) and svg results in working data: uris when this plugin is used in Antora.  There's a problem with base64 encoding pngs in Antora with data-uri but it doesn't appear to have anything to do with this extensio

[2019-11-26 01:34] djencks commented on #44
The problem with data-uri with png is in asciidoctor 1.5.9.  In https://github.com/djencks/asciidoctor-plantuml.js/tree/issue-44-data-uri I've upgraded to @asciidoctor/core 2.0.3 and all the tests work fine, and data URIs extracted from the test look correct in html.  The tests in this branch might be worth adding after an asciidoctor upgrade although they don't really test any functionality of th

[2019-11-26 22:27] eshepelyuk commented on #44
Sorry, I don't follow the conversation. Does any work needed ? ANy input needed, Should we close this issue ?

[2019-11-26 23:13] djencks commented on #44
After we close https://github.com/eshepelyuk/asciidoctor-plantuml.js/issues/76, I'd like to document the interaction of data-uri with this extension and write some tests, some of which will be disabled pending an asciidoctor.js upgrade.

[2019-12-16 19:50] #76 closed

[2019-12-26 12:18] anb0s commented on #53
I'm facing the [issue](https://github.com/asciidoctor/asciidoctor-vscode/issues/233) in the [asciidoctor-vscode](https://github.com/asciidoctor/asciidoctor-vscode) plugin that also uses **asciidoctor-plantuml.js**. I'm using the setting with local PlantUML server:
[code]
and want to use files with `!include` .

**How can i help to verify the PR from @akosma to make it available?**

Thanks!

[2020-01-24 18:12] anb0s commented on #53
Still no answer from plantuml-encoder maintainer :(

[2020-01-25 16:14] eshepelyuk commented on #53
Maybe it worth forking encoder and implement feature in forked version ?

[2020-01-25 22:39] anb0s commented on #53
The feature is implemented by @akosma in the fork:
https://github.com/akosma/plantuml-encoder/commits/master

@eshepelyuk : is it possible to use from master branch or is a released version needed?

[2020-01-26 04:28] eshepelyuk commented on #53
@anb0s i didn't understand your question.
Is the forked version available in npm ? If yes, you could provide a PR for this issue, replacing current module with that forked one.

[2020-01-29 10:23] rocec opened #79 "Release 1.5.0: Mismatch of git source and npm distribution"
The contents of the module installed by `npm i asciidoctor-plantuml@1.5.0` do not match the source code of [Release 1.5.0](https://github.com/eshepelyuk/asciidoctor-plantuml.js/releases/tag/1.5.0).

This was found during a discussion on https://gitter.im/antora/users, investigating why inline and interactive SVG do not work as documented with the (presumed) 1.5.0 version installed by npm.

[2020-01-29 12:58] eshepelyuk commented on #79
Hi, @rocec could you provide a link to a chat or a screen with details ?

[2020-01-29 13:29] rocec commented on #79
Sure, sorry for being too brief.

Here is my message in the gitter chat starting the following discussion: https://gitter.im/antora/users?at=5e2ffe91d9895b17c3a202f0.

Then, to reproduce it easily:
* Use `npm i asciidoctor-plantuml@1.5.0` to install locally.
* Inspect `node_modules/asciidoctor-plantuml/dist/node/asciidoctor-plantuml.js`:
  * It is clearly different from [asciidoctor-plantuml.js](h

[2020-01-29 20:58] eshepelyuk commented on #79
Thanks, i will try to check it out during weekends.

[2020-01-30 10:31] anb0s commented on #53
@eshepelyuk i'm new to node.js, but now understand how packaing etc. is working.
I've created new scoped package with the fixes from @akosma and pusblished: @anb0s/plantuml-encoder@1.5.1

[2020-01-30 10:37] anb0s commented on #53
see PR #80

[2020-02-28 15:36] stephenc commented on #79
@rocec inline and interactive images don't work even if you use the latest source (at least for me) I had to change the implementation to get them to work... filing an issue with the details

[2020-02-28 15:44] stephenc opened #81 "Inline and interactive images doesn't actually work"
When running with antora, the links do not work. Looking at the asciidoctor source code it seems that the root cause is the options are being passed in a way that doesn't align with the expectations of the HTML5 renderer.

Specifically: https://github.com/asciidoctor/asciidoctor.js/blob/41b4fe065d055d882f6807b4d987ce93a9f89834/packages/core/src/asciidoctor-extensions-api.js#L558 takes three parame

[2020-02-28 15:45] stephenc commented on #79
@rocec cf https://github.com/eshepelyuk/asciidoctor-plantuml.js/issues/81

[2020-02-29 08:37] stephenc commented on #81
@mojavelinux while we still have functionality that isn’t working yet, should the parameter be called `opts` rather than `options`?

Or which is `[plantuml%interactive]` equivalent to? `[plantuml,opts=interactive]` or `[plantuml,options=interactive]` or `[plantuml,opts=interactive,options=interactive]`?

[2020-02-29 08:52] mojavelinux commented on #81
opts is an alias for options. Between the two, opts is preferred. Though even better is the shorthand `%interactive`. All those variations are handled internally by the core parser.

[2020-02-29 14:12] stephenc commented on #81
Ok @mojavelinux so IIUC this plugin is looking for the `options` attribute is ok, this bug is that it doesn’t pass those options on to the html5 generator correctly as in my initial report of this issue

[2020-02-29 14:31] stephenc opened #82 "Add support for pass-through of width&height to image block"
A regular image block supports hinting the width and/or height (with the resulting image being scaled by the browser), eg

[code]

I have a case where the plantuml diagram is too wide. It is really annoying having to define a CSS style the set the width or height as each case needs different values

[2020-02-29 21:34] mojavelinux commented on #81
The name of the variable doesn't matter. The options is a positional argument in the API and must be a Hash (i.e., Map).

[2020-02-29 21:36] mojavelinux commented on #81
Oh, I see what you're saying. Yeah, the way options are being handled is not correct. Let me have a closer look.

[2020-02-29 21:51] mojavelinux commented on #81
I remember now. The options have already been processed when they come into the process handler of the extension. So the extension should only be looking for attributes with the name `<optname>-option`. For example `inline-option`. There's no need for the extension to handle the conversion from `opts=inline` or `options=inline` to `inline-option`.

Here's how the code should look:

[code]

Though

[2021-07-02 02:33] #43 closed

[2021-07-02 02:33] #44 closed

[2021-07-02 02:33] #53 closed

[2021-07-02 02:33] #58 closed

[2021-07-02 02:33] #79 closed

[2021-07-02 02:33] #81 closed

[2021-07-02 02:33] #82 closed